@import '../../index.scss';

.header {

    background-color: $accent-blue;
    font-family: $primary-fonts;
}

.header__wrapper {
    padding: 11px 16px 18px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.header__logo {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    color: $primary-color;

    transition: text-shadow .2s ease-in-out;

    &:hover {
        text-shadow: 0px 3px 15px rgba(0, 121, 191, 0.2);
    }
}

.user__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.user__logo {
    width: 40px;
    height: 40px;
    border: 3px solid $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: $primary-color;

}

.user__btn {
    cursor: pointer;
    margin-left: 10px;
}

.user__dropdown {
    min-width: 134px;
    padding: 8px;
    background-color: $primary-color;
    border-radius: 5px;
    list-style: none;
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #000;
}

.user__item {
    padding-bottom: 5px;
}

.user__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    color: $second-color;
    text-decoration: none;
}