$primary-color: #fff;
$second-color: #171722;
$gray: #EBECF0;
$accent-blue: #0067A3;
$accent-light-blue: #0079BF;

$main-font-size: 18px;

$primary-fonts: 'Roboto';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;

}