$primary-color: #fff;
$second-color: #171722;
$gray: #EBECF0;
$accent-blue: #4fa6eb;
$accent-light-blue: #96d9ff;

$main-font-size: 18px;

$primary-fonts: 'Roboto';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: $primary-fonts;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
}

.app-home {
  background-color: $accent-light-blue;
  flex: 1 0 auto;

}

.header {

  background-color: $accent-blue;
  font-family: $primary-fonts;
}

.header__wrapper {
  padding: 11px 16px 18px 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

}

.header__logo {
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  color: $primary-color;

  transition: text-shadow .2s ease-in-out;

  &:hover {
    text-shadow: 0px 3px 15px rgba(0, 121, 191, 0.2);
  }
}

.user__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.user__logo {
  width: 40px;
  height: 40px;
  border: 3px solid $primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: $primary-color;

}

.user__btn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
}

.user__dropdown {
  min-width: 134px;
  padding: 8px;
  background-color: $primary-color;
  border-radius: 5px;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  &::before {
    position: absolute;
    content: '';
    top: -7px;
    right: 40px;
    width: 20px;
    height: 20px;
    background: center / cover no-repeat url('../public/img/icons/userBlock.svg');
  }

}

.user__item {
  padding-bottom: 5px;
}

.user__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: $second-color;
  text-decoration: none;
}

.tasks__list {
  border-radius: 10px;
  background: rgb(235, 236, 240);
  padding: 12px;
  width: 25%;
  min-height: 125px;
  max-height: 500px;
  height: max-content;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.tasks__wrapper {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-resizer {
    display: none;
  }
}

.tasks__details_wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.tasks__details_title {
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.task__descriptions_btn {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  min-width: 100px;
  max-width: 200px;
  border-radius: 5px;
  border: none;
  background: $primary-color;
  cursor: pointer;

  transition: all .3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.task__datails_exit {
  align-items: flex-start;
  font-size: 11px;
  cursor: pointer;
}


.task-center {
  margin: 50px auto;
  min-width: 50%;
  padding: 11px 16px 18px 20px;
  background-color: $accent-light-blue;

}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $second-color;
  margin-bottom: 15px;
}

.task {
  border-radius: 5px;
  background: $primary-color;
  color: $second-color;

  padding: 10px;
  margin: 10px 0;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.task__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}


.Board {
  background-color: $accent-light-blue;
  flex: 1 0 auto;
  padding: 11px 16px 18px 20px;


}

.board__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.board__input_wrapper {
  background-color: $primary-color;
  border-radius: 5px;
  margin: 10px 0;

}

.board__input {
  display: block;
  width: 100%;
  border: none;
  padding: 10px 13px;

  background-color: $primary-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  overflow-wrap: break-word;

  &::placeholder {
    font-size: 12px;
    color: $second-color;
  }
}

.form {
  margin-top: auto;
}

.add__card-btn {
  background-color: inherit;
  border: none;
  color: #5E6C84;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  margin-top: 12px;


  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 14px;
    height: 14px;
    background: url('../public/img/icons/add-card.svg') center/contain no-repeat;
  }
}

.submit-btn {
  background-color: $accent-blue;
  color: $primary-color;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.footer {
  background-color: $accent-blue;
  margin-top: auto;
}

.footer__wrapper {
  margin-top: auto;
  background-color: $accent-blue;
  padding: 11px 16px 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__wrapper {
  display: flex;
  column-gap: 36px;
}

.result__item,
.about {
  color: $primary-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.select__wrapper {
  margin-top: auto;
  width: 100%;
}

.task {
  width: 100%;
  border: none;
}

.task__title {
  border: none;

}


@media (max-width: 768px) {
  .board__wrapper {
    flex-wrap: wrap;
    gap: 24px;
  }

  .header__logo {
    font-size: 24px;
  }

  .tasks__list {
    width: calc(50% - 24px);
    min-height: 300px;
    max-height: 300px;
  }

  .result__wrapper {
    flex-wrap: wrap;
  }

  .about {
    font-size: 16px;
  }
}

@media (max-width: 475px) {
  .header__logo {
    font-size: 18px;
  }

  .title {
    text-align: center;
  }

  .about {
    font-size: 14px;
    text-align: center;
  }

  .tasks__list {
    width: calc(100% - 24px);
    min-height: 200px;
    max-height: 200px;
  }

}